* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: yellowgreen;
    border-radius: 5px;
}

.main-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}

.main-container.home-container {
    justify-content: space-between;
    padding: 300px;
}

.home-container>img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 100vw;
    height: 100vh;
    filter: blur(4px);
    z-index: -1;
}

.home-container * {
    color: #eee;
}

.home-container h1 {
    font-size: 48px;
    text-shadow: 0 0 30px rgba(0, 0, 0, .7);
}

.list-menu-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.list-menu-container>p {
    font-size: 28px;
    text-shadow: 0 0 30px rgba(0, 0, 0, .7);
}

.choice-container {
    display: flex;
    gap: 50px;
}

.list-menu {
    width: 400px;
    display: flex;
    gap: 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
    background: #333;
    padding: 10px;
    border-radius: 8px;
    transition: 0.2s;
}

.list-menu:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(255,255,255,.7);
}

.list-menu .list-img {
    width: 100px;
    height: 100px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.list-menu .list-img img {
    min-width: 100%;
    min-height: 100%;
    height: 100%;
    width: 100%;
    /* max-width: 100%;
    max-height: 100%; */
}

.list-menu p {
    width: auto;
}

.loader-container {
    width: 100% max-content;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.content-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.company-list {
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
    background: #333;
    border-radius: 7px;
    padding: 10px;
    transition: 0.3s;
}

.company-list:hover {
    transform: scale(1.05);
}

.company-list * {
    color: #eee;
}

.company-image {
    width: 50px;
    height: 50px;
}

.company-image img {
    width: 100%;
    height: 100%;
}

.header-container {
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
}

.header-container>h1 {
    text-align: center;
}


.company-container{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 30px;
    color: white;
    padding: 10px;
    border-radius: 10px;
    background: lightskyblue;
}
.company-container > .company-image{
    width: 100px;
    height: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .7);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.company-container > .company-image > img{
    max-width: 100%;
    max-height: 100%;
    width: fit-content;
    height: fit-content;
}


.history-container{
    margin-bottom: 10px!;
}

.predict-container{
    width: 100%;
    padding: 50px;
    background: lightskyblue;
    border-radius: 10px;
    color: white;
    font-size: 30px;
}